<%- include("../partials/header.ejs") %>

<h1><%= pageTitle %></h1>

<div>
    <div>
        <% if (selectedAnimal) { %>
            <img src="<%= selectedAnimal.image %>" alt="<%= selectedAnimal.name %>">
            <p><%= selectedAnimal.description %></p>


            
        <% } else { %>
            <p>Select an animal from the list.</p>
        <% } %>
    </div>
    

    

    <%- include("../partials/sidebar.ejs")%>
</div>

<%- include("../partials/footer.ejs") %>
